export(calculateScores)
export(mergeData)
export(writeFiles)
export(reportAmplifications)
export(reportV3)
export(normalizeAmplicons)
export(normalizeGenes)
export(heatmap3)
export(defineVariables)
export(defineFiles)
export(runAnalysis)
export(logAnalysis)
export(.onLoad)
import(gdata, formatR, RColorBrewer, knitr)
